aiofiles==0.6.0
ajsonrpc==1.1.0
anyio==3.3.0
appdirs==1.4.4
apturl==0.5.2
asgiref==3.4.1
attrs==21.4.0
autobahn==21.11.1
Automat==20.2.0
autopep8==1.5.7
bcrypt==3.1.7
blinker==1.4
bottle==0.12.19
Brlapi==0.7.0
cachetools==4.0.0
certifi==2021.5.30
cffi==1.15.0
channels==3.0.4
chardet==3.0.4
charset-normalizer==2.0.4
chrome-gnome-shell==0.0.0
Click==7.0
colorama==0.4.3
command-not-found==0.3
constantly==15.1.0
coreapi==2.3.3
coreschema==0.0.4
cryptography==36.0.1
cupshelpers==1.0
cycler==0.10.0
daphne==3.0.2
dbus-python==1.2.16
defer==1.0.6
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
Django==3.2.6
django-colorfield==0.4.2
django-cors-headers==3.8.0
django-jazzmin==2.4.8
django-rest-framework==0.1.0
django-rest-swagger==2.2.0
djangorestframework==3.12.4
duplicity==0.8.12.0
entrypoints==0.3
fasteners==0.14.1
filelock==3.0.12
future==0.18.2
google-api-python-client==1.7.11
google-auth==1.5.1
google-auth-httplib2==0.0.3
gpg===1.13.1-unknown
h11==0.12.0
httpcore==0.13.6
httplib2==0.14.0
httpx==0.18.2
hyperlink==21.0.0
idna==3.2
ifaddr==0.1.7
incremental==21.3.0
itranslate==0.1.1
itypes==1.2.0
Jinja2==3.0.1
joblib==1.0.1
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
libvirt-python==6.1.0
livereload==2.6.1
lockfile==0.12.2
logzero==1.7.0
louis==3.12.0
macaroonbakery==1.3.1
Mako==1.1.0
MarkupSafe==2.0.1
marshmallow==3.13.0
matplotlib==3.4.0
monotonic==1.5
netifaces==0.10.4
numpy==1.20.2
oauth2client==4.1.2
oauthlib==3.1.0
olefile==0.46
openapi-codec==1.3.2
paramiko==2.6.0
pexpect==4.6.0
Pillow==7.0.0
platformio==5.1.1
protobuf==3.6.1
pyasn1==0.4.2
pyasn1-modules==0.2.1
pycairo==1.16.2
pycodestyle==2.7.0
pycparser==2.21
pycups==1.9.73
PyDrive==1.3.1
pyelftools==0.27
PyGObject==3.36.0
pyinotify==0.9.6
PyJWT==1.7.1
pymacaroons==0.13.0
PyNaCl==1.3.0
pyOpenSSL==19.0.0
pyparsing==2.4.7
PyQt5==5.14.1
pyRFC3339==1.1
pyserial==3.5
PySocks==1.6.8
python-apt==2.0.0+ubuntu0.20.4.6
python-dateutil==2.7.3
python-debian===0.1.36ubuntu1
python-decouple==3.4
pytz==2021.1
pyxdg==0.26
PyYAML==5.3.1
reportlab==3.5.34
requests==2.26.0
requests-unixsocket==0.2.0
rfc3986==1.5.0
rsa==4.0
SecretStorage==2.3.1
semantic-version==2.8.5
service-identity==21.1.0
simplejson==3.17.4
sip==4.19.21
six==1.16.0
sniffio==1.2.0
SQLAlchemy==1.3.12
sqlparse==0.4.1
starlette==0.14.2
systemd-python==234
tabulate==0.8.9
tk==0.1.0
toml==0.10.2
torbrowser-launcher==0.3.2
tornado==6.1
Twisted==21.7.0
txaio==21.2.1
typing-extensions==4.0.1
ubuntu-advantage-tools==27.4
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
uritemplate==3.0.1
urllib3==1.26.6
usb-creator==0.3.7
uvicorn==0.13.4
virtualenv==20.4.3
wadllib==1.3.3
wsproto==1.0.0
xkit==0.0.0
you-get==0.4.1527
zeroconf==0.28.8
zope.interface==5.4.0
